{% extends 'base.html' %}
{% block content %}
<h2>ახალი კომპონენტის დამატება</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label>სახელი</label>
        {{ form.name() }}
    </div>
    <div class="form-group">
        <label>ფასი (₾)</label>
        {{ form.price() }}
    </div>
    <div class="form-group">
        <label>სურათის ლინკი (URL)</label>
        {{ form.image_url() }}
    </div>
    <div class="form-group">
        <label>აღწერა</label>
        {{ form.description(rows=5) }}
    </div>
    {{ form.submit(class="btn") }}
</form>
{% endblock %}